<%- include('template/cabecera') %>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Desc</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <% if (arrayMascotas.length>0) { %> <% arrayMascotas.forEach(mascota => { %>
      <tr>
        <td><%= mascota.id %></td>
        <td><%= mascota.nombre %></td>
        <td><%= mascota.descripcion %></td>
        <td>Acciones</td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</div>

<%- include('template/footer') %>
